<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>date</key>
		<date>2014-03-31T16:00:00Z</date>
		<key>title</key>
		<string>俄罗斯伏尔加参团船友</string>
		<key>content</key>
		<string>徜徉伏尔加 陶醉俄罗斯，此路线已连续六年举办，历年来参团船友近6000人，其中不乏各界大家熟悉的面孔，…</string>
		<key>img</key>
		<string>travel_1.jpg</string>
	</dict>
	<dict>
		<key>date</key>
		<date>2013-07-31T16:00:00Z</date>
		<key>title</key>
		<string>不期而至的维捷格拉小镇</string>
		<key>content</key>
		<string>来到小镇的中心广场，团友们原来欢快的笑脸一下子都凝重起来，只见一座无名烈士纪念碑矗立在中央，碑前摆满了鲜花。从碑上“1941—1945”的字样可以猜出，这里纪念的正是“二战”时期…</string>
		<key>img</key>
		<string>travel_2.jpg</string>
	</dict>
	<dict>
		<key>date</key>
		<date>2013-07-31T16:00:00Z</date>
		<key>title</key>
		<string>记中俄友谊之声——圣彼得堡合唱音乐会</string>
		<key>content</key>
		<string>应中国合唱协会邀请，我团于2013年7月30日赴俄罗斯圣彼得堡参加了由俄罗斯圣彼得堡文化委员会主办的“中俄友谊之声——圣彼得堡合唱音乐会”…</string>
		<key>img</key>
		<string>travel_3.jpg</string>
	</dict>
	<dict>
		<key>date</key>
		<date>2013-12-31T16:00:00Z</date>
		<key>title</key>
		<string>2013年7月团友祝希娟女士感谢信</string>
		<key>content</key>
		<string>今年我有幸参加贵旅行社组织的赴俄罗斯伏尔加河十二日游活动（7月25日至8月5日）。我们19团小组大多是60岁以上的老人…</string>
		<key>img</key>
		<string>travel_4.jpg</string>
	</dict>
	<dict>
		<key>date</key>
		<date>2014-11-30T16:00:00Z</date>
		<key>title</key>
		<string>俄罗斯伏尔加河之旅：策划——2014年团友王缉志先生</string>
		<key>content</key>
		<string>去俄罗斯一直是我的梦想，也已经在我的旅游计划中，不过由于我比较怕冷，所以不想在天冷的时候去，再说穿着厚厚的冬装出去旅游也怪麻烦的，于是就只剩下夏天了。…</string>
		<key>img</key>
		<string>travel_5.jpg</string>
	</dict>
	<dict>
		<key>date</key>
		<date>2014-11-30T16:00:00Z</date>
		<key>title</key>
		<string>南极见闻之美丽的南极</string>
		<key>content</key>
		<string>海钻石号邮轮破浪乘风闯过了德雷克海峡，前面就是南极大陆了，想到这，一股热流在心底深处缓缓地涌动，此刻，距离我们驶离乌斯怀亚海岸已是整整50多个小时了！…</string>
		<key>img</key>
		<string>travel_6.jpg</string>
	</dict>
	<dict>
		<key>date</key>
		<date>2014-03-31T16:00:00Z</date>
		<key>title</key>
		<string>北晚官网记者西行亚欧手记 新东方快车抢先享</string>
		<key>content</key>
		<string>2014年4月15日讯，从1997年3月国家旅游局和公安部颁布《中国公民自费出国旅游管理暂行办法》开始，富裕起来的中国人开始陆续走出国门，在旅途中重新认识世界…</string>
		<key>img</key>
		<string>travel_7.jpg</string>
	</dict>
</array>
</plist>
